<div class="planets-search">
  <input class="planets-search__input"
         type="text"
         (input)="applyFilter()"
         [(ngModel)]="filterValue"
         placeholder="search here..."
  />
</div>
<app-planets-loader *ngIf="loading"></app-planets-loader>
<div class="planets-list">
  <div *ngFor="let planet of displayedPlanets; let i = index" class="planets-list-item">
    <div class="planets-list-item__thumb">
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <rect height="100" width="100" fill="rgb(34, 34, 59)"></rect>
        <circle cx="50" cy="50" [attr.r]="planet.diameter / 300" fill="rgb(201, 173, 167)"></circle>
      </svg>
    </div>
    <div class="planets-list-item__content">
      <h3 class="planets-list-item__name">
        {{ planet.name }}
      </h3>
      <div>
        <button class="planets-list-item__button-more" [routerLink]="[planet.id]">more</button>
      </div>
    </div>
  </div>
</div>
<div class="planets-paginator">
  <div class="planets-paginator__pages">
    <a class="planets-paginator__page"
       [class.planets-paginator__page--current]="currentPage === i + 1"
       *ngFor="let page of pagesArray; let i = index"
       [routerLink]="currentPage !==  i + 1 ? ['']: null"
       [queryParams]="{page: i + 1}"
       queryParamsHandling="merge"
    >
      {{i + 1}}
    </a>
  </div>
  <div class="planets-paginator__options">
    <span class="planets-paginator__options-info">per page:</span>
    <a class="planets-paginator__option"
       *ngFor="let option of planetsPerPageOptions"
       [class.planets-paginator__option--current]="planetsPerPage === option"
       [routerLink]="['']"
       [queryParams]="{planetsPerPage: option}"
       queryParamsHandling="merge">
      {{ option }}
    </a>
  </div>
</div>
