@import '../../../assets/colors';
.planet {
    padding: 4px;

  &__name {
    font-size: 2em;
    margin-bottom: 1em;
  }

  &__parameter-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  }

  &__parameter-name,
  &__parameter-value {
    padding: 4px;
  }

  &__parameter-name {
    color: $color4;
  }

  &__button-back {
    width: 100%;
    background-color: $color4;
    margin: 1em 0;
    padding: 1em 0;
  }
}
