/* Coolors Exported Palette - coolors.co/22223b-4a4e69-9a8c98-c9ada7-f2e9e4 */
/* RGB */
$color1: rgba(34, 34, 59, 1);
$color2: rgba(74, 78, 105, 1);
$color3: rgba(154, 140, 152, 1);
$color4: rgba(201, 173, 167, 1);
$color5: rgba(242, 233, 228, 1);
